.profile {
  	height: 2198px;
  	position: relative;
  	background-color: #fff;
  	width: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 60px;
  	text-align: justify;
  	font-size: 20px;
  	color: #000;
  	font-family: Lato;
}
.header {
  	height: 935px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 30px;
}
.navbar {
  	width: 1440px;
  	height: 96px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 80px;
  	box-sizing: border-box;
  	gap: 20px;
  	flex-shrink: 0;
}
.navbar-links {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 60px;
}
.home-link {
  	position: relative;
  	letter-spacing: 0.03em;
  	color: #be0707;
}
.services-link {
  	position: relative;
  	letter-spacing: 0.03em;
  	font-weight: 500;
}
.hire-me-button {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #be0707);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
  	font-size: 16px;
  	color: #fff;
}
.hire-me-text {
  	position: relative;
  	letter-spacing: 0.03em;
}
.main-content {
  	width: 1280px;
  	height: 874px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: -618px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 24px;
  	color: #707070;
}
.introduction-section {
  	height: 680px;
  	width: 1280px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 30px;
}
.introduction-text {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 58px;
}
.introduction-header {
  	width: 599px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.introduction-subheader {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.name-container {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
}
.greeting-text {
  	position: relative;
  	letter-spacing: 0.03em;
  	font-weight: 600;
}
.name-text {
  	position: relative;
  	font-size: 28px;
  	letter-spacing: 0.03em;
  	color: #959595;
}
.job-title {
  	position: relative;
  	font-size: 70px;
  	letter-spacing: 0.03em;
  	font-weight: 900;
  	background: linear-gradient(90.48deg, #be0707);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.description-text {
  	width: 757px;
  	position: relative;
  	font-size: 20px;
  	line-height: 24px;
  	font-family: Arial;
  	color: #575757;
  	white-space: pre-wrap;
  	text-align: justify;
  	display: inline-block;
}
.social-media-links {
  	display: flex;
  	align-items: flex-end;
  	padding: 16px 0px 0px;
  	gap: 20px;
}
.linkedin-icon {
  	display: flex;
  	align-items: flex-start;
  	position: relative;
  	isolation: isolate;
  	gap: 10px;
}
.linkedin-icon-child {
  	height: 40px;
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	background-color: rgba(255, 255, 255, 0.04);
  	border: 0.7px solid #575757;
  	box-sizing: border-box;
  	z-index: 0;
}
.mingcutelinkedin-line-icon {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 12px);
  	left: calc(50% - 12px);
  	z-index: 1;
}
.call-to-action-buttons {
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
  	text-align: justify;
  	font-size: 20px;
  	color: #fff;
}
.hire-me-button2 {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #be0707);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
}
.download-cv-button {
  	border-radius: 24px;
  	border: 2px solid #959595;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
  	color: #959595;
}
.photo {
  	height: 869.6px;
  	width: 618px;
  	position: relative;
}
.mask-group-icon {
  	position: absolute;
  	top: 88.63px;
  	left: 49px;
  	width: 520px;
  	height: 781px;
  	object-fit: cover;
  	display: none;
}
.photo-child {
  	position: absolute;
  	top: 251.63px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: rgba(255, 255, 255, 0.04);
  	width: 618px;
  	height: 618px;
}
.man-in-black-suit-looking-conf {
  	position: absolute;
  	top: 0px;
  	left: 154px;
  	border-radius: 244px;
  	width: 367px;
  	height: 566px;
  	object-fit: cover;
}
.skills-section {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	text-align: left;
  	font-size: 30px;
  	color: #959595;
}
.skills-list {
  	width: 1277px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 20px;
}
.skill-item {
  	width: 200px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 24px;
}
.skill-icon {
  	width: 130px;
  	height: 130px;
  	position: relative;
}
.skill-text {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 8px;
}
.skill-percentage {
  	position: relative;
  	background: linear-gradient(94.36deg, #be0707);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.skill-name {
  	position: relative;
  	font-size: 24px;
}
.portfolio-section {
  	width: 1337px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 67px;
  	font-size: 40px;
}
.portfolio-header {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 40px;
}
.portfolio-filters {
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: #c6c6c6;
}
.filter-all {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #fd6f00, #e46400);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 40px;
  	color: #fff;
}
.filter-all-text {
  	position: relative;
  	letter-spacing: 0.03em;
  	line-height: 160%;
  	text-transform: capitalize;
}
.filter-website-design {
  	border-radius: 8px;
  	background-color: rgba(255, 255, 255, 0.08);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 40px;
}
.portfolio-items {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 46px;
  	font-size: 16px;
  	color: #f2f2f7;
}
.portfolio-item {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	cursor: pointer;
}
.portfolio-image-icon {
  	width: 415px;
  	height: 415px;
  	position: relative;
  	border-radius: 28px 28px 0px 0px;
  	object-fit: cover;
}
.portfolio-item-text {
  	width: 415px;
  	border-radius: 0px 0px 16px 16px;
  	background-color: #000;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px;
  	box-sizing: border-box;
  	gap: 20px;
}
.portfolio-item-category {
  	position: relative;
  	letter-spacing: 0.03em;
  	line-height: 160%;
  	text-transform: capitalize;
  	color: #d1d1d6;
}
.portfolio-item3 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.footer {
  	width: 1440px;
  	background-color: rgba(255, 255, 255, 0.04);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 40px 80px 24px;
  	box-sizing: border-box;
  	gap: 50px;
  	color: #959595;
}
.footer-links {
  	width: 1277px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.footer-contact-info {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.footer-contact-details {
  	display: flex;
  	align-items: center;
  	gap: 40px;
}
.email-info {
  	display: flex;
  	align-items: center;
  	gap: 14px;
}
.mail-icon {
  	height: 24px;
  	width: 24px;
  	position: relative;
}

