Header
display: flex;
height: 935px;
flex-direction: column;
align-items: center;
gap: 30px;
flex-shrink: 0;

Navbar
display: flex;
width: 1440px;
height: 96px;
padding: 0 80px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

context

display: flex;
width: 1280px;
height: 874px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

display: flex;
flex-direction: column;
align-items: flex-end;
gap: 100px;

display: flex;
width: 1337px;
flex-direction: column;
align-items: center;
gap: 67px;

display: flex;
width: 1440px;
padding: 40px 80px 24px 80px;
flex-direction: column;
align-items: center;
gap: 50px;
