Header
display: flex;
height: 935px;
flex-direction: column;
align-items: center;
gap: 30px;
flex-shrink: 0;

Navbar
display: flex;
width: 1440px;
height: 96px;
padding: 0 80px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

context

display: flex;
width: 1280px;
height: 874px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
