.profile {
  	height: 2198px;
  	position: relative;
  	background-color: #fff;
  	width: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 60px;
  	text-align: justify;
  	font-size: 20px;
  	color: #000;
  	font-family: Lato;
}
.header {
  	height: 935px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 30px;
}
.navbar {
  	width: 1440px;
  	height: 96px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 80px;
  	box-sizing: border-box;
  	gap: 20px;
  	flex-shrink: 0;
}
.navbarLinks {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: 60px;
}
.homeLink {
  	position: relative;
  	letter-spacing: 0.03em;
  	color: #be0707;
}
.servicesLink {
  	position: relative;
  	letter-spacing: 0.03em;
  	font-weight: 500;
}
.hireMeButton {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #be0707);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
  	font-size: 16px;
  	color: #fff;
}
.hireMeText {
  	position: relative;
  	letter-spacing: 0.03em;
}
.mainContent {
  	width: 1280px;
  	height: 874px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: -618px;
  	flex-shrink: 0;
  	text-align: left;
  	font-size: 24px;
  	color: #707070;
}
.introductionSection {
  	height: 680px;
  	width: 1280px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 30px;
}
.introductionText {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 58px;
}
.introductionHeader {
  	width: 599px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.introductionSubheader {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.nameContainer {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 10px;
}
.greetingText {
  	position: relative;
  	letter-spacing: 0.03em;
  	font-weight: 600;
}
.nameText {
  	position: relative;
  	font-size: 28px;
  	letter-spacing: 0.03em;
  	color: #959595;
}
.jobTitle {
  	position: relative;
  	font-size: 70px;
  	letter-spacing: 0.03em;
  	font-weight: 900;
  	background: linear-gradient(90.48deg, #be0707);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.descriptionText {
  	width: 757px;
  	position: relative;
  	font-size: 20px;
  	line-height: 24px;
  	font-family: Arial;
  	color: #575757;
  	white-space: pre-wrap;
  	text-align: justify;
  	display: inline-block;
}
.socialMediaLinks {
  	display: flex;
  	align-items: flex-end;
  	padding: 16px 0px 0px;
  	gap: 20px;
}
.linkedinIcon {
  	display: flex;
  	align-items: flex-start;
  	position: relative;
  	isolation: isolate;
  	gap: 10px;
}
.linkedinIconChild {
  	height: 40px;
  	width: 40px;
  	position: relative;
  	border-radius: 50%;
  	background-color: rgba(255, 255, 255, 0.04);
  	border: 0.7px solid #575757;
  	box-sizing: border-box;
  	z-index: 0;
}
.mingcutelinkedinLineIcon {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 12px);
  	left: calc(50% - 12px);
  	z-index: 1;
}
.callToActionButtons {
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
  	text-align: justify;
  	font-size: 20px;
  	color: #fff;
}
.hireMeButton2 {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #be0707);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
}
.downloadCvButton {
  	border-radius: 24px;
  	border: 2px solid #959595;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 12px 40px;
  	color: #959595;
}
.photo {
  	height: 869.6px;
  	width: 618px;
  	position: relative;
}
.maskGroupIcon {
  	position: absolute;
  	top: 88.63px;
  	left: 49px;
  	width: 520px;
  	height: 781px;
  	object-fit: cover;
  	display: none;
}
.photoChild {
  	position: absolute;
  	top: 251.63px;
  	left: 0px;
  	border-radius: 50%;
  	background-color: rgba(255, 255, 255, 0.04);
  	width: 618px;
  	height: 618px;
}
.manInBlackSuitLookingConf {
  	position: absolute;
  	top: 0px;
  	left: 154px;
  	border-radius: 244px;
  	width: 367px;
  	height: 566px;
  	object-fit: cover;
}
.skillsSection {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	text-align: left;
  	font-size: 30px;
  	color: #959595;
}
.skillsList {
  	width: 1277px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 20px;
}
.skillItem {
  	width: 200px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 24px;
}
.skillIcon {
  	width: 130px;
  	height: 130px;
  	position: relative;
}
.skillText {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 8px;
}
.skillPercentage {
  	position: relative;
  	background: linear-gradient(94.36deg, #be0707);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.skillName {
  	position: relative;
  	font-size: 24px;
}
.portfolioSection {
  	width: 1337px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 67px;
  	font-size: 40px;
}
.portfolioHeader {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 40px;
}
.portfolioFilters {
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: #c6c6c6;
}
.filterAll {
  	border-radius: 24px;
  	background: linear-gradient(94.36deg, #fd6f00, #e46400);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 40px;
  	color: #fff;
}
.filterAllText {
  	position: relative;
  	letter-spacing: 0.03em;
  	line-height: 160%;
  	text-transform: capitalize;
}
.filterWebsiteDesign {
  	border-radius: 8px;
  	background-color: rgba(255, 255, 255, 0.08);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 40px;
}
.portfolioItems {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	gap: 46px;
  	font-size: 16px;
  	color: #f2f2f7;
}
.portfolioItem {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	cursor: pointer;
}
.portfolioImageIcon {
  	width: 415px;
  	height: 415px;
  	position: relative;
  	border-radius: 28px 28px 0px 0px;
  	object-fit: cover;
}
.portfolioItemText {
  	width: 415px;
  	border-radius: 0px 0px 16px 16px;
  	background-color: #000;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px;
  	box-sizing: border-box;
  	gap: 20px;
}
.portfolioItemCategory {
  	position: relative;
  	letter-spacing: 0.03em;
  	line-height: 160%;
  	text-transform: capitalize;
  	color: #d1d1d6;
}
.portfolioItem3 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.footer {
  	width: 1440px;
  	background-color: rgba(255, 255, 255, 0.04);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 40px 80px 24px;
  	box-sizing: border-box;
  	gap: 50px;
  	color: #959595;
}
.footerLinks {
  	width: 1277px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.footerContactInfo {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.footerContactDetails {
  	display: flex;
  	align-items: center;
  	gap: 40px;
}
.emailInfo {
  	display: flex;
  	align-items: center;
  	gap: 14px;
}
.mailIcon {
  	height: 24px;
  	width: 24px;
  	position: relative;
}

