// Home
color: #BE0707;
 font-size: 20px;
 font-family: Lato;
 font-weight: 700;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Services
color: var(--Grays-Black, black);
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// About me
color: var(--Grays-Black, black);
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Portfolio
color: var(--Grays-Black, black);
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Contact me
color: var(--Grays-Black, black);
 font-size: 20px;
 font-family: Lato;
 font-weight: 500;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Hire Me
color: white;
 font-size: 16px;
 font-family: Lato;
 font-weight: 700;
 letter-spacing: 0.48px;
 word-wrap: break-word
